body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(0.25turn, cornflowerblue, royalblue);
  display: grid;
}

a:hover {
  background-color: cyan;
}
nav {
  border: 2pt ridge black;
}

h1 {
  color: snow;
  margin: 0;
  padding-top: 20px;
  padding-left: 15px;
  font-family: cursive;
  font-size: xx-large;
  text-shadow: dimgray 2px 3px;
  background: linear-gradient(0.25turn, royalblue, cornflowerblue);
}

h2 {
  color: mistyrose;
  font-family: cursive;
  margin-bottom: 0;
}

h3 {
  margin: 1vh;
}

h4 {
  margin-top: 2vh;
  margin-bottom: 0;
  padding: 5px;
  color: black;
}

p {
  color: white;
  font-size: small;
}

footer {
  font-style: italic;
  color: lightgrey;
  padding-top: 10px;
  border-top: 2pt solid gray;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(0.25turn, royalblue, cornflowerblue);
}

.buttonBox {
  margin: 10pt;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 15px;
  justify-content: space-between;
  max-width: 500vw;
}

.content {
  display: grid;
  flex-wrap: wrap;
  margin-top: 10px;
  max-width: 100vw;
}

.subsec {
  display: flex;
  flex-flow: row;
  margin: 5pt;
  padding: 5pt;
  border: 2.5pt solid lightgray;
  justify-content: center;
}

.project {
  display: flex;
  flex-wrap: wrap;
  border: 4pt ridge black;
  margin: 10px;
  padding: 10px;
  flex-flow: column;
  justify-content: center;
}

.bluewater {
  width: 40vw;
  position: relative;
  padding: 15px;
}

.object {
  width: 65px;
}

.textbox {
  border: 5pt groove dimgray;
  background-color: ghostwhite;
  color: dimgray;
  z-index: 1;
  margin-left: 10vw;
  margin-top: 25vh;
  padding: 20px;
  width: 50vw;
  position: absolute;
}

#headshot {
  float: right;
  border: 2pt solid black;
  margin: 15px;
  position: relative;
}

#LIlogo {
  vertical-align: middle;
  margin-bottom: 3px;
}

#collage {
  float: right;
  margin-top: 25px;
  margin-left: 30px;
  border: 1px solid black;
}

#success {
  background-color: aquamarine;
}

#blueriver {
  position: relative;
  z-index: 0;
}

#riverquote {
  position: fixed;
  z-index: 2;
  margin-left: 15vw;
  margin-top: 30vh;
  flex: shrink 2;
}

#author {
  margin: 10px;
  color: blue;
}
